:root {
    --fondo-gris: #e0e0e0;
    --fuente: #5215d5;
    /* Cambia el color aquí */
}

body {
    background-color: var(--fondo-gris);
}

.texto-usuario {
    font-size: 1.2em;
    color: var(--fuente);
    font-weight: bold;
}